.bg_grass {
  background-color: #7ac74c;
}
.bg_fire {
  background-color: #ee8130;
}
.bg_water {
  background-color: #6390f0;
}
.bg_bug {
  background-color: #a6b91a;
}
.bg_normal {
  background-color: #a8a77a;
}
.bg_poison {
  background-color: blueviolet;
}
.bg_electric {
  background-color: #f7d02c;
}
.bg_ground {
  background-color: brown;
}
.bg_ice {
  background-color: #96d9d6;
}
.bg_fighting {
  background-color: #c22e28;
}
.bg_flying {
  background-color: #a98ff3;
}
.bg_psychic {
  background-color: #f95587;
}
.bg_rock {
  background-color: #b6a136;
}
.bg_ghost {
  background-color: #735797;
}
.bg_dragon {
  background-color: #6F35FC;
}
.bg_dark {
  background-color: #705746;
}
.bg_steel {
  background-color: #B7B7CE;
}
.bg_fairy {
  background-color: #D685AD;
}
.bg_hp{
  background-color: #8f2824;
}
.bg_attack{
  background-color: #1a689c;
}
.bg_defense{
  background-color: #b89a15;
}
.bg_special-attack{
  background-color: rgb(80, 26, 167);
}
.bg_special-defense{
  background-color: rgb(192, 129, 13);
}
.bg_speed{
  background-color: rgb(148, 144, 150);
}

.pb_hp{
  accent-color: #8f2824;
}
.pb_attack{
  accent-color: #1a689c;
}
.pb_defense{
  accent-color: #b89a15;
}
.pb_special-attack{
  accent-color: rgb(80, 26, 167);
}
.pb_special-defense{
  accent-color: rgb(192, 129, 13);
}
.pb_speed{
  accent-color: rgb(148, 144, 150);
}
