.poke-detail {
  background-color: rgb(17 23 60);
  height: 900px;
  width: 600px;
  border-radius: 20px;
  padding: 24px;
  gap: 24px;
  display: flex;
  flex-direction: column;
}
.detail-header {
  display: flex;
  justify-content: space-between;
  button {
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: transparent;
    color: white;
    border-radius: 50%;
    border: 2px solid white;
  }
  button:hover {
    box-shadow: 0 0 10px 4px white;
  }
}
.name-detail {
  font-size: 42px;
  display: flex;
  gap: 16px;
}
.poke-pic-detail {
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 40%;
  overflow: hidden;
  img {
    object-fit: scale-down;
    width: 100%;
  }
}

.card-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border-radius: 20px;
  button {
    font-size: 21px;
    font-weight: 800;
    border-radius: 10px;
    padding: 4px;
    background-color: transparent;
   
  }
}
.card-menu button:hover {
  color: rgb(245, 239, 239);
  text-shadow: 0 5px 10px  black;
}

.description {
  display: flex;
  padding-left: 10px;
  height: 100%;
  justify-content: start;
  width: 100%;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
}
.switch {
  background-color: transparent;
  border: none;

  :hover {
    background-color: lightcoral;
  }
  img {
    width: 70px;
    border-radius: 50%;
    padding: 10px;
  }
}

/* stats */
.stat-name{
  padding-left: 10px;
}
.stat-value{
  padding-left: 10px;
}

.progress-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 24px;
}

/* evolution */
.evolution{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 33%;
  color: black;
}
.imgEvolve{
  display: flex;
  align-items: end;
/*   height: 100px; */
  img{
    object-fit: scale-down;
    height: 100px;
  }
}

/* active ability */
.active{
  color: white;
  text-shadow: 0 5px 10px  rgb(0, 0, 0);
}