.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap:10px;
    ::placeholder{
        color: white;
    }
}
 .input{
    display: flex;
    align-items: center;
    background-color: rgb(88, 128, 201);
    border-radius: 30px;
    border: none;
    padding: 4px;
    font-size: 24px;
    text-align: center;
    color: white;
}
.search-btn{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}  