.search{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    gap:10px;
    input{
        background-color: rgb(88, 128, 201);
        border-radius: 30px;
        border: none;
        padding: 4px;
        font-size: 24px;
        text-align: center;
        color: white;
    }
    ::placeholder{
        color: white;
    }
}
 .input{
    display: flex;
    align-items: center;
}
.search-btn{
    display: flex;
    align-items: center;
}  