@media screen and (max-width: 750px) {
  header {
    flex-direction: column;
    gap: 20px;
    padding: 8px;
  }
  #content {
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 600px) {
  .poke-detail{
    height: 100%;
    border-radius: 0;
  }
  
}
